-# frozen_string_literal: true
= simple_form_for(@task) do |form|
  = form.error_notification
  = form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present?

  .form-inputs
    = form.input :name, label: t('.name')
    = form.input :description, label: t('.description')
    = form.input :due_date, label: t('.due_date')
    = form.association :category, label: t('.category')
    = link_to_add_nested(form , :participating_users, '#participants', partial:'participating_user_fields', link_text:"Agregar")
    #participants 
    
  .form-actions
    = form.button :submit, 'submit'
